<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="example-container" >
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <mat-toolbar color="accent" role="heading">
        <span>Menu</span>
        <span class="remaining-space"></span>
        <button mat-button (click)="sidenav.toggle()"><mat-icon>clear</mat-icon></button>
      </mat-toolbar>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="accent" role="heading">
        <button mat-button (click)="sidenav.toggle()"><mat-icon>view_headline</mat-icon></button>
        <span>{{ title }}</span>
        <span class="remaining-space"></span>
        <span>Whouaahh</span>
      </mat-toolbar>
       <div class="container-fluid test"></div>
  </mat-sidenav-content>
</mat-sidenav-container>




