
.remaining-space{
    flex: 1 1 auto;
}

.mat-sidenav{
    width: 300px;
    background-color: white;
    color: white;
}
.example-container{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
}
.test{
    background-color:white ;
    width: 100vw;
    height: 50vh;
    margin: 0%;
    padding: 0%;
}
mat-toolbar{
  background-color: black;
  color: white;
}
.entete{
  height: 300px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.example-full-width {
    width: 100%;
  }
.btnmenu{
    color:white;
    size: 90px;
}
.logo{
  width: 4vw;
}
.matListIcon{
  color: white;
}
